
#sidebar1
  %ul#MenuBar1.MenuBarVertical
    %li
      = link("Home", "index.html")
    %li
      = link "Registration", "registration" 
    %li
      = link "Sponsorship", "sponsorship"
    %li
      = link "Programme", "schedule", :title => "Programme"
        
      %ul
        %li
          = link "Conference Schedule", "schedule" 
            
        %li
          = link "Speakers", "speakers" 
            
        %li
          = link "Presentations", "presentations" 
            
        %li
          = link "Workshops", "workshops" 
            
        %li
          = link "Tutorials", "tutorials" 
            
        %li
          = link "Posters", "posters" 
            
        %li
          = link "CCIP", "ccip" 
            
        %li
          = link "Events & Activities", "activities" 
            
    %li
      = link "Submissions Guide", "submissions" 
        
    %li
      = link "Sydney", "sydney" 

      %ul
        %li
          = link "Venue", "venue" 
            
        %li
          = link "Accommodation", "accommodation" 
            
        %li
          = link "General Information", "general", :title => "General Information" 
            
        %li
          = link "Visa Information", "visas", :title => "General Information" 
            
    %li
      = link "Committee", "committee", :title => "Committee" 
        
    %li
      = link "Contacts", "contacts", :title => "Contacts" 
        
  #stayConnected
    %h3
      Stay Connected
    %table{ :border => "0" }
      %tr
        %td
          %a{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
            = img( "Wiki_icon.gif", :border => "0", :height => "30", :alt => "Wiki", :align => "middle", :width => "30" )
        %td
          %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
            Wiki
      %tr
        %td
          %a{ :href => "http://lists.osgeo.org/mailman/listinfo/foss4g2009/" }
            = img( "Mail_icon.gif", :border => "0", :height => "30", :alt => "Mailing List", :align => "middle", :width => "30" )
        %td
          %a.icontext{ :href => "http://lists.osgeo.org/mailman/listinfo/foss4g2009/" }
            Mailing
            list
            %br
      %tr
        %td
          %a{ :href => "http://flickr.com/FOSS4G" }
            = img( "Flickr.png", :border => "0", :height => "30", :alt => "Flickr", :align => "middle", :width => "30") 
        %td
          %a.icontext{ :href => "http://flickr.com/FOSS4G" }
            Flickr
      %tr
        %td
          %a{ :href => "http://twitter.com/FOSS4G" }
            = img( "Twitter_icon.gif", :border => "0", :height => "30", :alt => "Twitter", :align => "middle", :width => "30") 
        %td
          %a.icontext{ :href => "http://twitter.com/FOSS4G" }
            Twitter feed

        = partial('press_releases')    