
#sidebar1
  %ul#MenuBar1.MenuBarVertical
    %li
      = link("Home", "index.html")
    %li
      = link "Registration", "registration/index.html" 
    %li
      = link "Sponsorship", "sponsorship/index.html"
    %li
      = link "Programme", "schedule/index.html", :title => "Programme"
        
      %ul
        %li
          = link "Conference Schedule", "schedule/index.html" 
            
        %li
          = link "Speakers", "speakers/index.html" 
            
        %li
          = link "Presentations", "presentations/index.html" 
            
        %li
          = link "Workshops", "workshops/index.html" 
            
        %li
          = link "Tutorials", "tutorials/index.html" 
            
        %li
          = link "Posters", "posters/index.html" 
            
        %li
          = link "CCIP", "ccip/index.html" 
            
        %li
          = link "Events & Activities", "activities/index.html" 
            
    %li
      = link "Submissions Guide", "submissions/index.html" 
        
    %li
      = link "Sydney", "sydney/index.html" 

      %ul
        %li
          = link "Venue", "venue/index.html" 
            
        %li
          = link "Accommodation", "accommodation/index.html" 
            
        %li
          = link "General Information", "general/index.html", :title => "General Information" 
            
        %li
          = link "Visa Information", "visas/index.html", :title => "General Information" 
            
    %li
      = link "Committee", "committee/index.html", :title => "Committee" 
        
    %li
      = link "Contacts", "contacts/index.html", :title => "Contacts" 
        
  #stayConnected
    %h3
      Stay Connected
    %table{ :border => "0" }
      %tr
        %td
          %a{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
            = img( "Wiki_icon.gif", :border => "0", :height => "30", :alt => "Wiki", :align => "middle", :width => "30" )
        %td
          %a.icontext{ :href => "http://wiki.osgeo.org/wiki/FOSS4G_2009" }
            Wiki
      %tr
        %td
          %a{ :href => "http://lists.osgeo.org/mailman/listinfo/foss4g2009/" }
            = img( "Mail_icon.gif", :border => "0", :height => "30", :alt => "Mailing List", :align => "middle", :width => "30" )
        %td
          %a.icontext{ :href => "http://lists.osgeo.org/mailman/listinfo/foss4g2009/" }
            Mailing
            list
            %br
      %tr
        %td
          %a{ :href => "http://flickr.com/FOSS4G" }
            = img( "Flickr.png", :border => "0", :height => "30", :alt => "Flickr", :align => "middle", :width => "30") 
        %td
          %a.icontext{ :href => "http://flickr.com/FOSS4G" }
            Flickr
      %tr
        %td
          %a{ :href => "http://twitter.com/FOSS4G" }
            = img( "Twitter_icon.gif", :border => "0", :height => "30", :alt => "Twitter", :align => "middle", :width => "30") 
        %td
          %a.icontext{ :href => "http://twitter.com/FOSS4G" }
            Twitter feed

        = partial('press_releases')    