%div{ :float => "left" }
  %table
    %td
      %a{ :href => "index.html" }
        = img( "flags/us.png", :title => "English", :alt => "English",  :class => "nounderline" )
    %td
      %a{ :href => "index_pt.html" }
        = img( "flags/br.png", :title => "Portuguese", :alt => "Portuguese" , :class => "nounderline")
    %td
      %a{ :href => "index_fr.html" }
        = img("flags/fr.png",  :title => "French", :alt => "French" , :class => "nounderline")
    %td
      %a{ :href => "index_cn.html" }
        = img( "flags/cn.png", :title => "Chinese", :alt => "Chinese" , :class => "nounderline")
    %td
      %a{ :href => "index_es.html" }
        = img( "flags/es.png", :title => "Spanish", :alt => "Spanish" , :class => "nounderline")
    %td
      %a{ :href => "index_de.html" }
        = img( "flags/de.png", :title => "German", :alt => "German" , :class => "nounderline")
    %td
      %a{ :href => "index_jp.html" }
        = img( "flags/jp.png", :title => "japanese", :alt => "japanese" , :class => "nounderline")
  %table
    %td
      %a{ :href => "index_nl.html" }
        = img( "flags/nl.png", :title => "Dutch", :alt => "Dutch" , :class => "nounderline")
    %td
      %a{ :href => "index_it.html" }
        = img( "flags/it.png", :title => "Italian", :alt => "Italian" , :class => "nounderline")
    %td
      %a{ :href => "index_ko.html" }
        = img( "flags/kr.png", :title => "Korean", :alt => "Korean" , :class => "nounderline")
    %td
      %a{ :href => "index_vi.html" }
        = img( "flags/vi.png", :title => "Vietnamese", :alt => "Vietnamese" , :class => "nounderline")
